<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Javascript-DOM</title>
    <script src="../assets/js/14-dom.js" defer></script>
</head>
<body>
    <h1 id="main-title">La manipulation du DOM en Javascript</h1>
    <h2 class="title">Quelques proprièté CSS</h2>
    <h3 class="title">Pas facile le Javascript</h3
    

        <div class="txt-uppercase ">
<p >
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit necessitatibus esse ut non magnam deleniti dolores. Ab quisquam distinctio autem at tenetur, corrupti provident hic impedit quis ipsam voluptatem natus!
    Quia facilis tempore ea officia repellat vitae temporibus optio et harum impedit, esse eveniet architecto non numquam consectetur at, beatae similique aspernatur reprehenderit itaque eos veritatis! Rem repellat perferendis atque.
    Excepturi provident maiores molestiae tenetur corporis ratione esse, optio labore error deleniti ad. Voluptas illo, voluptatum esse pariatur consequuntur doloremque quos praesentium harum optio, ut quis quam minima provident explicabo.


</p>

< p id='first-paragraphe'>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea tempora ut pariatur. Hic similique sint voluptates dicta laboriosam tempora ab eius enim architecto dolor, iure error rerum mollitia officia expedita!
    Blanditiis veniam accusamus, laboriosam facilis laudantium ipsum quam consequuntur nobis sit possimus necessitatibus dolore natus amet assumenda sed quas. Quo quasi ea aut amet nemo minus, tempora voluptatibus sunt doloremque!
    Ut asperiores eligendi incidunt sit adipisci laboriosam earum similique aperiam in, officiis debitis sequi iste nihil maxime necessitatibus, nostrum quo ipsa ea magni fugit qui, maiores rerum iusto? Provident, esse.
</p>




        </div>

</body>
</html>